<div class="col-md-6 m-auto">
    <div class="card card-header text-center">
        <div class="text-center">
            <a href="/"><img src="/images/logo.png" alt="Error" width="20%"></a>
        </div>
    </div>
    <div class="container card card-body text-center">
        <div class="row">
            <div class="col">
                <h1>
                    <i class="fas fa-user-graduate fa-4x">
                        <a href="/users/student_login" class="btn btn-dark btn-block mb-2 mt-3"
                           style="font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;">Student Login</a>
                    </i>
                </h1>
            </div>
            <div class="col">
                <h1>
                    <i class="fas fa-user-lock fa-4x">
                        <a href="/admin/admin_login" class="btn btn-dark btn-block mt-3"
                           style="font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;">Admin Login</a>
                    </i>
                </h1>
            </div>
        </div>

    </div>
</div>


